[submodule "Technopolis-Fe"]
	path = Technopolis-Fe
	url = https://github.com/technopolis-microblog/Technopolis-Fe
[submodule "Technopolis-Docs"]
	path = Technopolis-Docs
	url = https://github.com/technopolis-microblog/Technopolis-Docs
[submodule "Technopolis-API"]
	path = Technopolis-API
	url = https://github.com/technopolis-microblog/Technopolis-API
